<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{article.createNew}">New Article</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/darkmode.js"></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container mt-4 content">
        <h1 th:text="#{article.createNew}">Create New Article</h1>
        <form action="#" th:action="@{/articles}" th:object="${article}" method="post" class="form-group">
            <div class="form-group">
                <label for="title" th:text="#{form.label.title}">Title:</label>
                <input type="text" id="title" th:field="*{title}" class="form-control" /><br/>
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></div>
            </div>
            <div class="form-group">
                <label for="name" th:text="#{form.label.name}">Name:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" /><br/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
            </div>
            <div class="form-group">
                <label for="category" th:text="#{form.label.category}">Category:</label>
                <input type="text" id="category" th:field="*{category}" class="form-control" /><br/>
                <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error"></div>
            </div>
            <div class="form-group">
                <label for="content" th:text="#{form.label.content}">Content:</label>
                <textarea id="content" th:field="*{content}" class="form-control"></textarea><br/>
                <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></div>
            </div>
            <div class="form-group">
                <label for="reporter" th:text="#{form.label.reporter}">Reporter:</label>
                <input type="text" id="reporter" th:field="*{reporter}" class="form-control" /><br/>
                <div th:if="${#fields.hasErrors('reporter')}" th:errors="*{reporter}" class="error"></div>
            </div>
            <div class="form-group">
                <label for="email" th:text="#{form.label.email}">Email:</label>
                <input type="email" id="email" th:field="*{email}" class="form-control" /><br/>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{form.submit}">Submit</button>
        </form>
    </div>
    <footer class="footer">
        <div th:replace="~{fragments/footer :: footer}"></div>
    </footer>
</div>
</body>
</html>
