/* Default (Light Mode) */
body {
    background-color: white;
    color: black;

}

/* Dark Mode */
body.dark-mode {
    background-color: black;
    color: white;
}


/* Additional styles for elements in dark mode */
/* Dark Mode for Navbar */
.navbar.dark-mode {
    background-color: #333;
    color: white;
}

navbar-brand.dark-mode {
    color: white;
}

/* Dark Mode for Nav Links */
.nav-link.dark-mode {
    color: white;
}


.table.dark-mode {
    background-color: #444;
    color: white;
}

.btn.dark-mode {
    background-color: #555;
    color: white;
}

.footer.dark-mode {
    background-color: #333;
    color: white;
    border-top: 1px solid #444;
}

/* Toggle Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.error {
    color: red;
    font-weight: bold;
}

/* Zorg ervoor dat body en html de volledige hoogte hebben */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Zorg ervoor dat de wrapper zich uitstrekt over de beschikbare ruimte */
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Inhoud neemt de resterende ruimte in */
.content {
    flex: 1;
}

/* Footer stijlen */
.footer {
    background-color: #f1f1f1;
    color: #555;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #e7e7e7;
    width: 100%;
}

.footer.dark-mode {
    background-color: #333;
    color: white;
    border-top: 1px solid #444;
}
